# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Env
.env

# Database
src/database/fjellfilm.db
src/database/*.sqbpro

# Docker
*.pid
.dockerignore

# PM2
pids/
*.pid
*.seed

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
